<div class="container">
  <h2>Step 1:</h2>
    <select ng-model="selectedInterest" ng-change="onSelectInterest()">
      <option value="">Select Interest</option>
      <option value="simple">Simple</option>
      <option value="compound">Compound</option>
    </select>

    <div ng-if="selectedInterest" style="margin-top:20px" ng-submit="onSubmitForm(interest)">
        <h2>Step 2:</h2>
        <form novalidate class="simple-form" name="interestForm">
            <label>Principal: <input type="text" ng-model="interest.principal" name= "interest.principal" required/></label><br />
            <label>Rate of interest: (%) <input type="text" ng-model="interest.rate"  required/></label><br />
            <label>Years: <input type="text" ng-model="interest.timePeriod" required/></label><br />

            <div ng-if="selectedInterest === 'compound'">
              <label>Interest Frequency: </label>
              <select ng-model="interest.compoundFrequency" required>
                  <option value="">Select Frequency</option>
                  <option value="12">Monthly</option>
                  <option value="2">Half-yearly</option>
                  <option value="1">Yearly</option>
                </select>
              <br />
            </div>

            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-disabled="interestForm.$invalid" />
          </form>
    </div>
    <div  style="margin-top:20px" ng-if="showTable">
      <h2>Results: </h2>
      <table>
        <thead>
          <tr>
            <th>Year</th>
            <th>Interest</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="interest in interestDisplayArr">
              <td>{{ interest.period }}</td>
              <td>{{ interest.interestAmount  | number : 2 }}</td>
              <td>{{ interest.totalAmount | number : 2 }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr style="font-weight: bold;">
            <td>Sum: </td>
            <td>{{ interestSum | number : 2}}</td>
            <td>{{ totalSum | number : 2 }}</td>
          </tr>
        </tfoot>
        </table>
    </div>
</div>
