<div class="container">
  
  <div class="row" style="margin-top:20px">
    <div class="col-md-12">
      <h3>Step 1: Choose Type of Interest</h3>
      <select ng-model="selectedInterest" ng-change="onSelectInterest()" class="custom-select" style="max-width:250px">
        <option value="">Select Interest</option>
        <option value="simple">Simple</option>
        <option value="compound">Compound</option>
      </select>
    </div>
  </div>
    
  <!-- Information Form -->
  <!-- Text inputs for regex pattern validation -->
  <div class="row" style="margin-top:20px">
    <div class="col-md-12">
      <div ng-if="selectedInterest"  ng-submit="onSubmitForm(interest)">
          <h3>Step 2: Fill in information</h3>
          <form novalidate class="simple-form" name="interestForm">
            
            <label>Principal: 
              <input
                ng-pattern="numberPattern"
                type="text" 
                ng-model="interest.principal" 
                name= "interest.principal" 
                class="form-control"
                required />
            </label><br />
        
            <label>Rate of interest (%):
              <input type="text" ng-model="interest.rate" ng-pattern="numberPattern" class="form-control" required/>
            </label>
            <br />

            <label>Years: 
              <input type="text" ng-model="interest.timePeriod" ng-pattern="timePeriodPattern" class="form-control" required/>
            </label>
            <br />

            <div ng-if="selectedInterest === 'compound'">
              <label>Interest Frequency: </label>
              <select style="max-width:193px;" ng-model="interest.compoundFrequency" required class="form-control">
                  <option value="">Select Frequency</option>
                  <option value="12">Monthly</option>
                  <option value="2">Half-yearly</option>
                  <option value="1">Yearly</option>
                </select>
              <br />
            </div>

            <input type="button" class="btn btn-warning" style="color:white" ng-click="reset()" value="Reset" />
            <input type="submit" class="btn btn-success" ng-disabled="interestForm.$invalid" />
          </form>
      </div>
    </div>
  </div>

  <!-- Table with amounts: -->
  <div class="row" style="margin-top:20px">
    <div class="col-md-12">
      <div ng-if="showTable">
        <h3>Results: </h3>
        <table class="table">
          <thead>
            <tr>
              <th>Year</th>
              <th>Interest</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="interest in interestDisplayArr">
                <td>{{ interest.period }}</td>
                <td>{{ interest.interestAmount  | number : 2 }}</td>
                <td>{{ interest.totalAmount | number : 2 }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr style="font-weight: bold;">
              <td>Sum: </td>
              <td>{{ interestSum | number : 2}}</td>
              <td>{{ totalSum | number : 2 }}</td>
            </tr>
          </tfoot>
          </table>
        </div>
    </div>
  </div>
</div>
